.login-form {
    width: 90vw;
    max-width: 400px;
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.form-container {
    width: 100%;
    padding: 10px;
    background-color: var(--blue-light);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: var(--blue-dark);
}

.form-container h1 {
    font-size: 2em;
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
    outline: none;
}

.form-container input[type="button"] {
    background-color: var(--pink-accent);
    font-size: 1.1em;
    color: var(--pink-light);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}
.form-container input[type="button"]:hover {
    background-color: var(--pink-dark);
}

.form-container #links {
    display: flex;
    justify-content: space-between;
    color: var(--blue-text);
}

.form-container #links a {
    color: var(--blue-text);
    font-size: 0.95em;
}

.button:hover {
    filter: brightness(1.2);
}

.login-button-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.loader{
    height: 50px;
    --c: no-repeat linear-gradient(var(--pink-accent) 0 0);
}

.hidden {
    display: none;
    color: var(--pink-dark);
}

#errormsg {
    width: 100%;
    text-align: center;
    color: var(--pink-dark-bold);
}