<footer>
    <div id="help-button">?</div>
    <div id="help-popover">
        <p>Need help?</p>
        <p>The Browse page has all the fridges and pantries close to you! Here you can see your favourite fridges and
            find more information about them. Once you click on a fridge/pantry, you can see the contents of the fridge
            and much more!</p>