<footer>
    <div id="help-button">?</div>
    <div id="help-popover">
        <p>Need help?</p>
        <p>This is the contents page!, here you are able to see the current items in the fridge/pantry. You also have
            the option to take or donate.</p>
    </div>
</footer>