<footer>
    <div id="help-button">?</div>
    <div id="help-popover">
        <p>Need help?</p>
        <p>This is the contents page! Here you are able to see the current items in this fridge/pantry! You can also update the contents by taking or donating items.</p>
    </div>
</footer>