<%-include('partials/header')%>
<main>
    <div id="jumbotron">
        <div id="jumbotron-content"></div>
        <img src="/img/index_curve.svg" />
        
    </div>
</main>
<%-include('partials/footer')%>