<%- include('partials/header') %>
        <div class="login-form">
            <form class="form-container">
                <h1>Login</h1>

                <label for="email">Email</label>
                <input id="login-email" type="email" required="required" placeholder="Email" />

                <label for="password">Password</label>
                <input id="login-password" type="password" required="required" placeholder="Password" />

                <p class="hidden" id="errormsg"></p>

                <div class="login-button-container">
                    <input type="button" value="Login" id="login-submit" />
                    <div class="loader hidden"></div>
                </div>
                <div id="links">
                    <p id="forgotP"><a href="#"></a></p> <!-- forgot password should go here -->
                    <p id="notMemberP"><a href="/createAccount">Create Account</a></p>
                </div>
            </form>
        </div>
<%- include('partials/footer') %>