<%- include('partials/header') %>
    <%- include('partials/contents-tab', {selected: 'reviews' }) %>


        <!-- add review modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
            id="add-review-button">
            Add a review
        </button>

    <div id="reviewModal" class="modal">
        <form enctype="multipart/form-data">
        <div class="modal-content">
            <div id="reviewHeader">
                <h3>Add Review</h3>
                <button type="button" class="btn-close close-modal-button" data-bs-dismiss="modal" aria-label="Close"
                    ></button>
            </div>

                <div class="form-group">
                    <label for="reviewTitle">Review Title</label>
                    <input type="text" id="reviewTitle" placeholder="Enter a title" />
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="reviewRating">Rating</label>
                        <input id="reviewRating" type="number" name="rating" min="1" max="5"
                            placeholder="Rating (1–5)" />
                    </div>

                <div class="form-group">
                    <label for="reviewImage">Upload Picture</label>
                    <div class="photo-box">
                    <input type="file" name="photo" class="coverPhotoInput" id="reviewImage" accept="image/*" style="display: none;">

                    <button type="button" class="upload-btn uploadTrigger" >
                        <span class="material-icons" class="upload-icon">upload</span>
                    </button>
                    <div class="photoPreview" style="display: none;">
                        <div class="image-wrapper" style="max-width: 200px; max-height: 180px">
                            <img class="previewImage" src="#" alt="Preview" style="max-width: 200px; max-height: 180px;">
                            <button type="button" class="removeImageBtn">x</button>
                    
                        </div>
                    </div>
                </div>
                </div>
            </div>

                <div class="form-group">
                    <label for="reviewText">Your Review</label>
                    <textarea id="reviewText" rows="4" placeholder="Write your review..."></textarea>
                </div>

            <div class="modal-actions">
                <button class="close-modal-button">Cancel</button>
                <button type="button" id="submit-review-button">Add</button>
            </div>
        </div>
        </form>
    </div>

        <div id="reviews-container">
        </div>

        <div class="reply-form-container">
        </div>

        <div class="spacer"></div>

        <%- include('partials/footer') %>